.box-container {
    width: 80px;
    margin: auto;
}

.box {
    height: 30px;
    width: 30px;
    margin: 0 3px;
    background: #b8b8ff;
    display: inline-block;
    animation: box-pulse 0.8s ease-in infinite alternate;
}

.box-2 {
    animation-delay: 0.2s;
}

.box-3 {
    animation-delay: 0.4s;
}

.box-4 {
    animation-delay: 0.6s;
}

@keyframes box-pulse {
    100% {
        opacity: 0;
    }
}
