:root {
    font-size: 16;
    --pink: #ffbbb5;
    --beige: #ffd8be;
    --offwhite: #ffeedd;
    --white: #f8f7ff;
    --lightpurple: #b8b8ff;
    --darkpurple: #9381ff;
    --darkerpurple: #6b5fb9;
    --gray: #505050;
    --darkgray: #404040;
    --darkergray: #212121;
}

.btn-purple {
    height: 2.5rem;
    background: var(--darkpurple);
    color: var(--white);
    margin: 5px;
}

.btn-purple:hover {
    background: var(--darkerpurple);
    color: var(--white);
}

.btn-red {
    height: 2.5rem;
    background: #e25a5a;
    color: #f8f7ff;
    margin: 5px;
}

.btn-red:hover {
    background: #c35555;
    color: #f8f7ff;
}

.accent {
    color: var(--darkerpurple);
    animation: pulse 10s infinite;
}

.App {
    padding: 1rem;
    text-align: center;
    background-color: var(--white);
    color: var(--darkgray);
}

.art-navbar {
    position: fixed;
    background-color: var(--gray);
    transition: 200ms ease;
    filter: grayscale(20%);
    z-index: 1;
    box-shadow: 5px 5px 15px rgb(148, 148, 148);
}

.art-navbar-nav {
    list-style: none;
    padding: 3px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.art-nav-item {
    width: 100%;
    padding: 1rem;
    border-radius: 3%;
    color: var(--white);
    transition: 100ms ease;
    white-space: nowrap;
    text-decoration: none;
}

.art-nav-item:hover {
    background-color: var(--darkgray);
    color: var(--pink);
}

.art-nav-img {
    width: 3.5rem;
    height: 3.5rem;
}

.art-nav-link {
    display: flex;
    align-items: center;
    width: 5rem;
}

.art-link-text {
    display: none;
    font-size: 1.2rem;
    margin-left: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media only screen and (max-width: 576px) {
    .art-navbar {
        bottom: 0;
        width: 100vw;
        height: 6rem;
    }
    .art-navbar-nav {
        flex-direction: row;
        height: 6rem;
        justify-content: center;
    }
    .art-nav-link {
        justify-content: center;
        width: 3rem;
    }
    .App {
        margin: 0 0 6rem 0;
    }
    .art-nav-item {
        width: auto;
    }
    .art-nav-img {
        width: 2.5rem;
        height: 2.5rem;
    }
    .art-title {
        font-size: 4rem;
    }
    .art-title2 {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 577px) {
    .App {
        margin-left: 6rem;
    }
    .art-navbar {
        top: 0;
        width: 6rem;
        height: 100vh;
    }
    .art-navbar .art-link-text {
        display: block;
        opacity: 0;
        transition: opacity 100ms ease-in;
    }
    .art-navbar:hover {
        width: 16rem;
        filter: grayscale(0%);
    }
    .art-navbar:hover .art-link-text {
        opacity: 1;
    }
    .art-navbar:active .art-link-text {
        transition: opacity none;
    }
    .art-title {
        font-size: 5rem;
    }
    .art-title2 {
        font-size: 4rem;
    }
}

.form-error {
    text-align: center;
    color: rgb(255, 106, 106);
}

.art-title {
    color: var(--darkergray);
    font-weight: lighter;
}

.art-title2 {
    color: var(--darkergray);
    font-weight: lighter;
}

@keyframes pulse {
    50% {
        text-shadow: 0 10px 10px var(--lightpurple);
    }
}
