.spin-btn {
    font-size: 1.3rem;
    color: var(--white);
    background: var(--darkpurple);
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: transform 700ms;
    border-radius: 20%;
    user-select: none;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.spin-btn:hover {
    animation: rotate 300ms forwards;
    transform: rotate(360deg);
    cursor: pointer;
}

.spin-btn:active {
    box-shadow: 0 0 20px var(--darkerpurple);
    border: solid 1px var(--lightpurple);
    color: var(--offwhite);
}

.home-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    position: relative;
    min-width: 300;
    text-align: center;
}

.splash-img {
    width: 60rem;
    position: fixed;
    right: -23rem;
    bottom: -10rem;
}

.splash-text-container {
    text-align: left;
    margin-right: 20rem;
    min-width: 300px;
}

@media only screen and (max-width: 1250px) {
    .splash-img {
        display: none;
        width: 0;
    }
    .splash-text-container {
        text-align: center;
        margin-right: 0;
    }
}

@keyframes rotate {
    100% {
        border-radius: 50%;
        background: var(--darkerpurple);
    }
}
