.username {
    margin: 10px;
    color: rgb(112, 112, 112);
}

.btn-container-profile {
    width: 80%;
    min-width: 300px;
    max-width: 500px;
    margin: 20px;
    margin: auto;
    justify-content: center;
}

.profile-img {
    width: 70%;
    max-width: 400px;
    min-width: 280px;
}
