.username {
    margin: 10px;
    color: rgb(112, 112, 112);
}

.btn-container-profile {
    width: 80%;
    min-width: 300px;
    max-width: 500px;
    margin: 20px;
    margin: auto;
    justify-content: center;
}

.profile-img {
    border-radius: 50%;
    margin: 20px;
}

@media only screen and (max-width: 576px) {
    .profile-img {
        max-width: 250px;
        max-height: 350px;
    }
}

@media only screen and (min-width: 577px) {
    .profile-img {
        max-width: 500px;
        max-height: 400px;
    }
}
