.artwork-container {
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    justify-content: center;
    align-items: center;
}

.artwork-img {
    border-radius: 50%;
    padding: 0;
}

.img-btn-container {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 577px) {
    .prop-div-long {
        justify-content: space-between;
    }
    .artwork-img {
        max-height: 130px;
        max-width: 190px;
    }
    .btn-container {
        width: 200px;
    }
}

@media only screen and (max-width: 576px) {
    .prop-div-long {
        justify-content: center;
    }
    .artwork-img {
        max-height: 100px;
        max-width: 140px;
    }
    .btn-container {
        width: 100px;
    }
}
