.artwork-container {
    border: 1px solid #505050;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    width: 90%;
    max-width: 600px;
    justify-content: space-around;
    align-items: center;
}

.artwork-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 0;
}

.btn-container {
    width: 150px;
}

.img-btn-container {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.btn-red {
    height: 3rem;
    background: #e25a5a;
    color: #f8f7ff;
    margin: 5px;
}

.btn-red:hover {
    background: #923232;
    color: #f8f7ff;
}
