.chart-container {
    width: 70vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    min-width: 320px;
    max-width: 1000px;
}

.btn-container-chart {
    margin: auto;
    width: 300;
}
