.x-btn {
    color: #616161;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 3rem;
    padding-left: 10px;
}

.x-btn:hover {
    cursor: pointer;
    color: #7b64ff;
}

.modal-container {
    width: 100%;
    height: 90%;
    min-width: 320px;
    max-width: 1000px;
    background: white;
    border: 2px solid #7b64ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
    margin: auto;
    padding: 20px;
}

.inner-modal-container {
    position: relative;
    max-width: 1100px;
    justify-content: center;
    min-width: 350px;
    overflow: scroll;
}

.modal-img {
    padding: 0 30px 30px;
    max-height: 350px;
    min-height: 150px;
    max-width: 350px;
    min-width: 250px;
    width: 50%;
}

.key {
    font-weight: 300;
    color: #3d3d3d;
    text-align: left;
    display: flex;
}

.value {
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
}

.caps {
    text-transform: capitalize;
}

.prop-div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #bdbdbd;
    max-width: 500px;
    margin: 10px auto 0;
    width: 80%;
}
